.r1{
  background-color: blue;
  height: 500px;
  width: 150px;
}

.r2{
  background-color: red;
  height: 500px;
  width: 150px;
}

.r3{
  background-color: yellow;
  height: 500px;
  width: 150px;
}

.r4{
  background-color: green;
  height: 500px;
  width: 150px;
}

.r5{
  background-color: white;
  height: 500px;
  width: 150px;
}

.r6{
  background-color: black;
  color: white;
  height: 500px;
  width: 150px;
}

.r7{
  background-color: purple;
  height: 500px;
  width: 150px;
}

.r8{
  background-color: gray;
  height: 500px;
  width: 150px;
}

.r9{
  background-color: orange;
  height: 500px;
  width: 150px;
}
.r10{
  background-color: cyan;
  height: 500px;
  width: 100px;
}
